<div class="jumbotron">
  <h1>Bienvenue sur Annuaire votre nouveau gestionnaire de contacts</h1>
  <p class="lead">
    <img src="images/phone-book.png" alt="It's a phone book icon"><br>
    <span style="color: #1C90F3;"> Gérer vos contacts devient aussi Easy qu'un Loisir</span>
  </p>
  <p><a class="btn btn-lg btn-success" id="homeButton" ng-href="#/creation" >Créer une liste de contacts</a>
  <a class="btn btn-lg btn-success" id="homeButton" ng-href="#/contacts" >Consulter votre liste de contacts</a></p>
</div>

